# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    doft.css                                           :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: agalavan <marvin@42.fr>                    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2018/04/02 20:23:09 by agalavan          #+#    #+#              #
#    Updated: 2018/04/02 20:23:13 by agalavan         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

body {
	background-color: #505050;
}

header {
	background-color: #909090;
	width: 70%;
	border-radius: 10px;
}
header img {
	width: 200px;
}
.header-link {
	width: 10px;
}
